.h1 Movies
%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Release Date
      %th Popularity
  %tbody
    -@movies.each do |movie|
      %tr
        %td= movie['title']
        %td
          - date = Date.parse(movie['release_date'])
          = date.strftime("%B #{date.day.ordinalize}, %Y")
        %td= movie['popularity'].to_i
.h1 People
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Popularity
  %tbody
    -@people.each do |person|
      %tr
        %td= person['name']
        %td= person['popularity'].to_i
