.h1 popular
.well
  -@popular.each do |movie|
    %p= movie['title']
.h1 upcoming
.well
  -@upcoming.each do |movie|
    %p= "#{movie['title']} (#{movie['release_date']})"
.h1 now_playing
.well
  -@now_playing.each do |movie|
    %p= movie['title']
.h1 top_rated
.well
  -@top_rated.each do |movie|
    %p= movie['title']
.h1 rotten-tomatoes in theatres
.well
  -@rottentomatoes.each do |movie|
    %p= "#{movie['title']}, #{movie['ratings']['critics_score']}"
