%h2 Popular
%table.table.table-hover.table-responsive
  = render 'table_partial/tmdb_table_base'
  - @popular.each do |movie|
    = render 'table_partial/tmdb_table_row', locals: { movie: movie }

%h2 Upcoming
%table.table.table-hover.table-responsive
  = render 'table_partial/tmdb_table_base'
  - @upcoming.each do |movie|
    = render 'table_partial/tmdb_table_row', locals: { movie: movie }

%h2 Now Playing
%table.table.table-hover.table-responsive
  = render 'table_partial/tmdb_table_base'
  - @now_playing.each do |movie|
    = render 'table_partial/tmdb_table_row', locals: { movie: movie }

%h2 Top Rated
%table.table.table-hover.table-responsive
  = render 'table_partial/tmdb_table_base'
  - @top_rated.each do |movie|
    = render 'table_partial/tmdb_table_row', locals: { movie: movie }

%h2 In Theaters (via RottenTomatoes)
%table.table.table-hover.table-responsive
  = render 'table_partial/rt_table_base'
  - @rottentomatoes.each do |movie|
    = render 'table_partial/rt_table_row', locals: { movie: movie }
