.tab-content
  #all.tab-pane.fade.in.active
    %table.table.table-hover.table-responsive
      = render 'table_partial/movie_base'
      - locals[:all_list_movies].each do |movie|
        = render 'table_partial/movie_row', locals: { movie: movie }
  - locals[:lists].each do |list|
    .tab-pane.fade{id: "#{list.title.parameterize}"}
      - if list.list_movies.any?
        %table.table.table-hover.table-responsive
          = render 'table_partial/movie_base'
          - list.list_movies.each do |movie|
            = render 'table_partial/movie_row', locals: { movie: movie }
      - else
        %p.text-center
          %em.text-muted No movies yet

      - if current_user?(list.user)
        .col-sm-6.text-left
          = button_to(edit_list_path(list), method: :get, :class => 'btn btn-primary btn-xs' ) do
            %span Edit
        .col-sm-6.text-right
          = button_to(list_path(list), method: :delete, data: { confirm: "Are you sure? This cannot be undone."}, :class => 'btn btn-primary btn-xs' ) do
            %span Delete

:javascript
  $('#listTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })



